<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Quiz - Preguntas</title>
</head>
<body>
	<h2>Juego de prguntas</h2>
	<%=respuesta%>
	<a href="/quizes/question.ejs">Inténtelo de nuevo</a>
</body>
</html>